<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Internet quality #<%= @internet_quality.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/internet_qualities" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/internet_qualities/<%= @internet_quality.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit internet quality
        </a>
      </div>

      <div class="col">
        <a href="/delete_internet_quality/<%= @internet_quality.id %>" class="btn btn-block btn-outline-secondary">
          Delete internet quality
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Quality
      </dt>
      <dd>
        <%= @internet_quality.quality %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@internet_quality.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@internet_quality.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "internet_quality_templates/internet_quality_study_location_details" %>
  </div>
</div>
