<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Plug availability #<%= @plug_availability.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/plug_availabilities" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/plug_availabilities/<%= @plug_availability.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit plug availability
        </a>
      </div>

      <div class="col">
        <a href="/delete_plug_availability/<%= @plug_availability.id %>" class="btn btn-block btn-outline-secondary">
          Delete plug availability
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Availability
      </dt>
      <dd>
        <%= @plug_availability.availability %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@plug_availability.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@plug_availability.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "plug_availability_templates/plug_availability_study_location_details" %>
  </div>
</div>
