<!-- Form study_location_detail start -->
<form action="/create_study_location_detail_from_ambience" method="post">
<!-- Form study_location_detail end -->

  <!-- Label and input for ambience_id start -->
  <!-- Input for ambience_id start -->
  <input type="hidden" name="ambience_id" value="<%= @ambience.id %>">
  <!-- Input for ambience_id end -->

  <!-- Label and input for noise_level_id start -->
  <div class="form-group">
    <label for="noise_level_id">
      Noise level
    </label>

    <!-- Input for noise_level_id start -->
    <%= select_tag(:noise_level_id, options_from_collection_for_select(NoiseLevel.all, :id, :level, @study_location_detail.noise_level_id), :class => "form-control") %>
    <!-- Input for noise_level_id end -->
  </div>
  <!-- Label and input for noise_level_id end -->

  <!-- Label and input for internet_quality_id start -->
  <div class="form-group">
    <label for="internet_quality_id">
      Internet quality
    </label>

    <!-- Input for internet_quality_id start -->
    <%= select_tag(:internet_quality_id, options_from_collection_for_select(InternetQuality.all, :id, :quality, @study_location_detail.internet_quality_id), :class => "form-control") %>
    <!-- Input for internet_quality_id end -->
  </div>
  <!-- Label and input for internet_quality_id end -->

  <!-- Label and input for plug_availability_id start -->
  <div class="form-group">
    <label for="plug_availability_id">
      Plug availability
    </label>

    <!-- Input for plug_availability_id start -->
    <%= select_tag(:plug_availability_id, options_from_collection_for_select(PlugAvailability.all, :id, :availability, @study_location_detail.plug_availability_id), :class => "form-control") %>
    <!-- Input for plug_availability_id end -->
  </div>
  <!-- Label and input for plug_availability_id end -->

  <!-- Label and input for location_id start -->
  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <!-- Input for location_id start -->
    <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :name, @study_location_detail.location_id), :class => "form-control") %>
    <!-- Input for location_id end -->
  </div>
  <!-- Label and input for location_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @study_location_detail.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create study location detail
  </button>
</form>
