<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Ambience #<%= @ambience.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/ambiences" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/ambiences/<%= @ambience.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit ambience
        </a>
      </div>

      <div class="col">
        <a href="/delete_ambience/<%= @ambience.id %>" class="btn btn-block btn-outline-secondary">
          Delete ambience
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @ambience.description %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@ambience.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@ambience.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "ambience_templates/ambience_study_location_details" %>
  </div>
</div>
