<% if @bookmark.errors.any? %>
  <% @bookmark.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit bookmark #<%= @bookmark.id %>
</h1>

<hr>

<form action="/update_bookmark/<%= @bookmark.id %>" method="post">

  <div class="form-group">
    <label for="study_location_id">
      Study location
    </label>

    <%= select_tag(:study_location_id, options_from_collection_for_select(StudyLocationDetail.all, :id, :created_at, @bookmark.study_location_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :category, @bookmark.category_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update bookmark
  </button>
</form>

<hr>

<a href="/bookmarks">
  Go back
</a>
